@import 'libs/_mixins.scss'


$blue: #009BDB
$darkblue: #4D90A8

@font-face 
	font-family: "Crimson Text"
	font-style: normal
	font-weight: 400
	src: url("../fonts/CRIMSONTEXT-REGULAR.TTF") format("ttf")

@font-face 
	font-family: "Arial Rounded MT"
	font-style: normal
	font-weight: 700
	src: url("../fonts/RoundedMT.ttf") format("ttf")

@font-face 
	font-family: "Raleway"
	font-style: normal
	font-weight: 300
	src: url("../fonts/RALEWAY-LIGHT.TTF") format("ttf")

@font-face 
	font-family: "Raleway"
	font-style: normal
	font-weight: 400
	src: url("../fonts/RALEWAY-REGULAR.TTF") format("ttf")

@font-face 
	font-family: "Raleway"
	font-style: normal
	font-weight: 700
	src: url("../fonts/RALEWAY-BOLD.TTF") format("ttf")

*
	font-family: Raleway, sans-serif

ul
	padding: 0
	margin: 0

#block1
	
	.abs-pos
		margin-top: 40px
		position: absolute
		top: 0
		z-index: 99
		width: 100%
	.slider-main
		.owl-item
			position: relative
			.title__first
				width: 100%
				z-index: 99
				position: absolute
				top: 50%	
				transform: translateY(-50%)
		.owl-dots
			margin-top: 0
			position: absolute
			bottom: 40px
			width: 100%
			button
				outline: none
				&.owl-dot.active
					span
						background: #fff
				span
					width: 20px
					height: 20px
					border-radius: 50%
					background: #A1A1A1

.logo
	img
		transition: width .5s ease
		width: 50%
.l-menu
	z-index: 100
	&.fixed
		position: fixed
		
		width: 100%
		background: url('../img/pos-fix.jpg')
		background-size: cover
		top: 0
		left: 0
		.logo
			text-align: left
			padding: 5px 0
			img
				transition: width .5s ease
				width: 25%
		.menu
			margin-top: 20px
			text-align: right

.menu
	text-align: right

	ul
		list-style: none
		li
			display: inline-block
			margin-right: 40px
			color: #fff
			cursor: pointer
			a
				color: #fff
				font-weight: 300
				font-size: 20px
				transition: .5s ease
				letter-spacing: 2px
				&:hover
					color: $blue
					text-decoration: none

.title
	text-align: center
	
	&__main
		color: $blue
		font-weight: 700
		font-size: 60px
		margin-bottom: 10px
		line-height: 47px
	&__description
		color: #fff
		font-size: 30px
		letter-spacing: 3px
		line-height: 41px
		width: 45%
		margin: 0 auto

#block2
	padding: 25px 0 45px 0
	.title
		color: $darkblue
		font-size: 17px
		font-weight: 700
		line-height: 22px
		letter-spacing: .94px

	#clock
		font-weight: 700
		font-size: 80px
		font-family: 'Arial Rounded MT'
		color: $darkblue
		line-height: 92px

#block3
	padding: 105px 0
	background: url('../img/bg-org.png')
	background-size: cover
	h2
		color: #fff
		margin-bottom: 105px

	.slider
		position: relative
		margin-bottom: 150px

	.description
		font-size: 30px
		color: #fff
		line-height: 35px
		letter-spacing: 2px
		text-align: center
		margin-bottom: 100px

	.button-block
		background: rgba(#7ED8F9, .3)
		padding: 40px 20px
		display: inline-block
		width: 100%
		transition: all .5s ease
		&:hover
			text-decoration: none
			box-shadow: 0 0 30px #A6EFF8
			background: #7ED8F9
		&__title
			font-size: 30px
			font-weight: 700
			text-transform: uppercase
			color: #fff
			line-height: 30px
			text-align: center
		// &__des
		// 	color: #fff
		// 	line-height: 30px
		// 	font-size: 20px
		// 	letter-spacing: 2px



.owl-org
	.owl-stage
		display: flex
		align-items: center
	.owl-item
		
		.item
			text-align: center
			
			
			img
				width: 60%
				margin-bottom: 20px
				margin: 0 auto
			.info
				width: 60%
				color: #fff
				margin: 0 auto
				&__name
					font-size: 20px
					font-weight: 700
					margin-bottom: 10px
					letter-spacing: 2px
				&__prof
					font-weight: 300
					height: 175px
					font-size: 15px
					line-height: 24px
					letter-spacing: 2px

		&.active.center

			.item
				
				img
					width: 99%
					margin: 0 auto
				.info
					color: #fff
					width: 99%
					&__name
						font-size: 30px
					&__prof
						font-size: 20px
						height: initial

.owl-popup
	.owl-stage
		display: flex
		align-items: center
.owl-prod
	.owl-stage
		display: flex
		align-items: center
	.owl-item
		
		.item
			text-align: center
			width: 60%
			margin: 0 auto
			img
				
				margin-bottom: 20px
			.info

				color: #fff
				&__name
					font-size: 15px
					font-weight: 700
					margin-bottom: 10px
					letter-spacing: 2px
				&__prof
					font-weight: 300
					font-size: 10px
					line-height: 24px
					letter-spacing: 2px

		&.active.center

			.item
				width: 99%
				img
					
					margin: 0 auto
				.info
					color: #fff
					&__name
						font-size: 30px
					&__prof
						font-size: 15px



#block4
	background-size: cover
	padding: 120px 0 150px 0
	text-align: center
	position: relative
	overflow: hidden
	img
		position: absolute
		width: 1920px
		left: 0
		bottom: 0
	.button-block
		position: relative
		z-index: 98
		&__text
			color: #fff
			font-size: 45px
			font-weight: 700
			line-height: 53px
			letter-spacing: 1.5px
			margin-bottom: 40px
		&__btn
			display: inline-block
			padding: 20px 50px
			background: rgba(#7ED8F9, .36)
			font-size: 20px
			font-weight: 700
			text-transform: uppercase
			line-height: 24px
			color: #fff
			transition: all .5s ease
			&:hover
				box-shadow: 0 0 30px rgba(#A6EFF8, .73)
				background: rgba(#7ED8F9, .73)
				text-decoration: none

#block5
	padding: 90px 0

	h2
		color: #6A6A6A
		margin-bottom: 70px
	.gallery
		margin-bottom: 70px
		display: inline-block
		&__item
			width: 24%
			margin-right: 1%
			margin-bottom: 1%
			float: left
			height: 265px
			overflow: hidden
			position: relative
			cursor: pointer
			&:hover .view
				opacity: 1
			.view
				opacity: 0
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background: rgba(#000, .68)
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				align-items: center
				justify-content: center
				transition: opacity .5s ease
	.namba-logo
		text-align: center
		img
			max-width: 100%
			height: auto


#block6
	background: url('../img/bg-prod.png')
	background-size: cover
	padding: 80px 0
	.slider-prod
		position: relative
	h2
		margin-bottom: 60px
		color: #fff


#block7
	padding: 80px 0px 100px 0
	background: url('../img/bg-docs.png')
	background-size: cover
	h2
		color: #fff
		margin-bottom: 60px
	.list
		ul
			list-style: none
			li
				display: block
				width: 100%
				color: #fff
				line-height: 35px
				font-size: 30px
				margin-bottom: 20px
				&:last-child
					margin-bottom: 0


#block8
	background: url('../img/bg-send.png')
	background-size: cover
	background-position: center
	padding: 60px 0
	h2
		color: #fff
		margin-bottom: 60px
	.description
		text-align: center
		color: #fff
		font-size: 25px
		line-height: 30px
		letter-spacing: 2px
		margin-bottom: 30px
	form
		input, textarea
			background: rgba(#fff, .20)
			padding: 18px 20px
			color: #fff
			width: 100%
			border: 0
			font-size: 24px
			letter-spacing: 2px
			line-height: 29px
			margin-bottom: 20px
			height: 65px
			&::placeholder
				text-align: center
				color: #fff
		.plch
			font-size: 15px
			line-height: 18px
			padding: 12px 20px
			overflow-y: hidden
			margin-bottom: 14px
		.file
			background: rgba(#fff, .20)
			text-align: center
			padding: 20px 10px
			&__title
				font-size: 24px
				color: #fff
				margin-bottom: 18px
			input
				background: transparent
				margin-bottom: 20px
			&__list
				list-style: none
				text-align: center
				li
					background: rgba(#fff, .20)
					padding: 50px
					text-align: center
					font-size: 24px
					color: #fff
					letter-spacing: 2px
					max-width: 570px
					width: 100%
					margin: 0 auto
					margin-bottom: 20px
					position: relative
					&:last-child
						margin-bottom: 0
					.cls
						position: absolute
						top: 50%
						transform: translateY(-50%)
						right: 15px
						cursor: pointer
						img
							width: 26px

		.buttons
			margin-top: 30px
			text-align: center
		.content-none
			display: none
		.more
			text-transform: uppercase
			border: 0
			outline: none
			letter-spacing: 2px
			font-size: 30px
			font-weight: 700
			line-height: 35px
			padding: 30px 100px
			display: inline-block
			cursor: pointer
			background: rgba(#81B8BE, .75)
			color: rgba(#fff, .85)
			transition: all .5s ease
			&:hover, &__active
				box-shadow: 0 0 30px rgba(#A6EFF8, .73)
				background: rgba(#7ED8F9, .73)
				text-decoration: none
		.exit
			&__big
				display: none
				cursor: pointer
				border: 0
				background: transparent
				outline: none

.file-upload
	position: relative
	overflow: hidden
	width: initial
	height: 63px
	border-radius: 3px
	padding: 8px 4px
	color: #fff
	text-align: center
	margin-bottom: 18px
	input[type="file"]
		display: none
	label
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		cursor: pointer
#block9
	padding: 70px 0 30px 0
	background: url('../img/bg-partners.png')
	h2
		margin-bottom: 30px
		color: #2B2D2D
		letter-spacing: 0
		text-transform: unset
	.images
		margin-bottom: 50px
		text-align: center
		img
			max-width: 100%
			height: auto
			vertical-align: bottom
	.map__h2
		color: rgba(#171717, .64)
		margin-bottom: 70px


#map
	
footer
	background: url('../img/bg-contacts.png')
	background-size: cover
	padding: 110px 0 0 0
	h2
		color: #fff
		margin-bottom: 40px
	ul
		list-style: none
		text-align: center
		margin-bottom: 75px
		li
			display: block
			font-size: 30px
			color: #E8DFDF
			line-height: 23px
			margin-bottom: 20px
			a
				color: #A6EFF8
				letter-spacing: 2px
				transition: .5s ease		
				&:hover
					text-decoration: none
					color: #E8DFDF
				&.tel
					color: #E8DFDF
					&:hover
						color: #A6EFF8
	.copyright
		color: rgba(#E8DFDF, .83)
		font-size: 16px
		line-height: 30px
		letter-spacing: 2px
		padding: 20px 0
		text-align: center
		border-top: solid 2px #BBFFF6
		.media
			color: #5DA5F8
		.soft
			color: #FFFF07
		a
			display: inline-block
			transition: .5s ease
			&:hover
				text-decoration: none
				color: #E8DFDF

#top
	display: none
	position: fixed
	right: 50px
	bottom: 20px
	cursor: pointer
	background: rgba($blue, .8)
	padding: 20px
	font-size: 24px
	font-weight: 700
	z-index: 100
	color: #fff
	transition: .5s ease
	border-radius: 50%
	&:hover
		background: $blue
	img
		width: 32px
.fix-soc
	position: fixed
	z-index: 1000
	top: 50%
	right: 30px
	transform: translateY(-50%)
	
	ul
		list-style: none
		li
			display: block
			margin-bottom: 20px
			&:last-child
				margin-bottom: 0
			a
				display: block
				background: rgba(#fff, .4)
				padding: 10px
				border-radius: 50%
				text-align: center
				transition: all .5s ease
				img
					width: 28px
				&:hover
					background: rgba(#A6EFF8, .9)
					box-shadow: 0 0 30px #fff

			


#custom-controls
	
	width: 100%
	div
		position: absolute
		top: 50%
		transform: translateY(-50%)
		cursor: pointer
		z-index: 98
		img
			width: 20px
			height: 39px
	.prev
		margin-right: 10px
		left: -5px
	.next
		right: -5px
		margin-left: 10px


#custom-controls2
	
	width: 100%
	div
		position: absolute
		bottom: -25px
		cursor: pointer
		z-index: 98
	.prev
		left: 15%
	.next
		right: 15%


h2
	font-size: 45px
	font-weight: 700
	text-transform: uppercase
	letter-spacing: 2px
	line-height: 53px
	text-align: center

.popup-relative
	width: 90%
	padding: 40px 100px
	box-sizing: border-box
	background: url('../img/bg-pu.png')
	background-size: cover
	overflow: hidden
.fancybox-close-small
	color: #fff
	svg
		width: 40px
.popup-btn-cont
	
	text-align: center
	
	min-height: 90vh
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	.owl-theme 
		.owl-dots .owl-dot
			&.active
				span
					background: #fff
			span
				width: 15px
				height: 15px
				background: transparent
				border: solid 1px #fff
		.owl-controls
			position: relative
			display: inline-block
		.owl-custom-nav
			margin-top: 0
			display: inline-block
			div
				background: transparent
				padding: 0
				position: absolute
				top: 22px
				img
					width: 10px
					height: 18px
				&:hover
					background: transparent
			.owl
				&-prev
					left: -40px
				&-next
					right: -40px
	p
		font-size: 25px
		font-weight: 300
		letter-spacing: 1px
		line-height: 40px
		margin-bottom: 20px
		color: #fff

.fancybox-inner
	right: 0 !important
	width: 100% 
.fancybox-show-thumbs

	.fancybox-thumbs
		width: 100%
		position: relative
		height: 100vh
		background: transparent
		ul
			position: absolute
			width: 100%
			bottom: 0
			left: 0
			height: initial
			li
				float: unset
				display: inline-block
				margin-right: 15px
.fancybox-thumbs>ul>
	li
		width: 292px
		height: 175px
		max-width: 33% !important
		&:before
			background-color: rgba(#A6EFF8, .73)
			background-image: url('../img/eye-close-up.png')
			background-position: center center
			background-repeat: no-repeat


@media (min-width: 1440px)
	.container
		max-width: 1400px

@media (max-width: 1440px)
	.menu ul li a
		font-size: 16px
	h2
		font-size: 36px
	.owl-org .owl-item.active.center .item 
		.info__name
			font-size: 24px
		.info__prof
			font-size: 16px
	.owl-org .owl-item .item 
		.info__name
			font-size: 16px
		.info__prof
			font-size: 12px
	#block3 .description
		font-size: 24px
	#block3 .button-block__title
		font-size: 20px
	#block3 .button-block__des
		font-size: 16px
	#block7 .list ul li, footer ul li
		font-size: 24px
	#block8 form .more
		font-size: 24px
		padding: 20px 100px

	.owl-prod .owl-item.active.center .item .info__name
		font-size: 24px
	#block8 .description, #block8 form input
		font-size: 18px
	footer .copyright
		font-size: 12px

.menu-mob
	display: none

@media screen and (max-width: 1168px)
	#block5 .gallery__item
		width: 49%
		margin-bottom: 2%
	.menu ul li
		margin-right: 15px
	.l-menu.fixed .menu
		margin-top: 20px
	#block3 .button-block
		margin-bottom: 20px
		padding: 20px 10px
	.title__description
		width: 70%

@media screen and (max-width: 992px)
	.l-menu
		.logo img
			width: 60%
	
	.title__description
		width: 90%
	.menu ul li
		margin-right: 5px

	#block1 .slider-main .owl-dots
		bottom: 10px


@media screen and (max-width: 768px)

		
	.abs-pos
		.row
			padding: 0
		.container-fluid
			padding: 0	
	.menu-mob
		display: block
		text-align: right
		margin-right: 20px
		padding: 10px 0
		cursor: pointer
		overflow: hidden
		img
			float: right
			width: 32px
		.logo
			width: 50%
			float: left
			text-align: left !important
			img
				width: 50%
				float: left
	iframe
		height: 250px !important

	#block1 .abs-pos
		position: relative
		margin-top: 0
		.l-menu
			background-image: url('../img/pos-fix.jpg')
			.menu
				position: relative
				background: $darkblue
				width: 100%
				box-sizing: border-box
				text-align: center
				display: none
				ul
					li
						display: block
						margin-right: 0
						a
							display: block
							padding: 10px 0

							&:hover
								color: #fff
								background: $blue
			&.fixed
				.menu
					margin-top: 0
		.title
			&__first
				margin-top: 0
				padding: 20px 0
			&__description
				color: #474747


	#block2
		padding: 20px 0
		#clock
			font-size: 24px
			line-height: 30px

	#block3
		padding: 50px 0
		h2
			margin-bottom: 50px
		.slider
			margin-bottom: 80px
	#block4
		padding: 50px 0
	#block5 .gallery__item
		width: 100%
		margin-right: 0
		img
			max-width: 100%
	#block5, #block6, #block4
		padding: 40px 0
	h2
		font-size: 30px
	#block9
		padding: 30px 0
	#footer
		padding: 50px 0 0 0
	#block9 .images img
		margin-bottom: 5px
		width: 30%
	.title__main, #block4 .button-block__text
		font-size: 36px
	#block1 .abs-pos, .popup-btn-cont p
		font-size: 18px
	.title__description
		width: 100%
		font-size: 12px
		line-height: 20px
	h2
		font-size: 20px
	#block3 .description
		margin-bottom: 20px
		font-size: 18px
	.fancybox-slide--html .fancybox-content
		padding: 20px 10px
		width: 100%
		min-height: 100vh
	#block5 h2, #block3 .slider, #block3 h2, #block6 h2, #block7 h2, #block8 h2, footer h2, #block8 h2, #block9 .map__h2
		line-height: 30px
		margin-bottom: 20px
	#block7 .list ul li, footer ul li
		font-size: 18px
	footer ul li
		margin-bottom: 5px
	#block7
		padding: 40px 0
	#block7 .list ul li
		margin-bottom: 5px
	footer ul
		margin-bottom: 10px
	#custom-controls2
		div
			bottom: 0
			top: 50%
			transform: translateY(-50%)
			&.prev
				left: 0
			&.next
				right: 0
	#footer
		padding: 20px 0 0 0
		.copyright
			padding: 5px 0
	
	.fix-soc, #top
		right: 10px

	

	#custom-controls div img
		width: 50%
	#block4 .button-block__text, .title__main
		font-size: 24px
	#block4 .button-block__btn, #block8 form .more
		font-size: 16px
		padding: 10px 30px
	#block4 .button-block__text, #block5 .gallery
		margin-bottom: 20px
	#block5 .namba-logo img
		width: 50%

	#block8 form input, #block8 form .file__title
		font-size: 16px
	#block8 form .file__list li
		padding: 10px
		font-size: 16px
	#block8 form .exit__big img
		width: 50%
	.fancybox-slide--html
		padding: 0